@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web
@{
    Layout = "MasterPage.cshtml";
}

<div class="wrapper">
    <div class="container" id="main">
        @Html.Partial("_Headline")

        @if (CurrentCustomer.Basket().Items.Any())
        {
            @Html.Action("BasketForm", "StoreBasket", new { area = "Merchello" })
         
            <div class="col-lg-8">
                <a href="/" style="font-weight: bold; color: red">Tiếp tục mua hàng</a>
            </div>
            <div class="col-lg-4 text-right">
                <a href="@ExampleUiHelper.Content.GetCheckout().Url" class="btn btn-primary">Tiến hành thanh toán</a>
            </div>
           
        }
        else
        {
            <p>
                <a href="">Không có gì trong giỏ hàng của bạn, hãy quay lại mua sắm nào.</a>
            </p>
        }
    </div>
</div>

        
