@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web

@{
    Layout = "MasterPage.cshtml";
    if (CurrentCustomer.Basket().IsEmpty)
    {
        Response.Redirect(ExampleUiHelper.Content.GetStoreRoot().Url);
    }
}

<div class="wrapper">
    <div class="container" id="main">
        @Html.Partial("_Headline")

        @RenderBody()
    </div>
</div>

    
