@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtReceipt>
@{
	Layout = "MasterPage.cshtml";
}

<div class="wrapper">
    <div class="container" id="main">
        @Html.Action("SalesReceipt", "CheckoutSummary", new { area = "FastTrack" })
    </div>
</div>