@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterPage.cshtml";
}

@{
    IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent> listProducts = CurrentPage != null ?
        CurrentPage.GetPropertyValue<IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent>>("FeatureProducts")
        : Enumerable.Empty<Merchello.Web.Models.VirtualContent.IProductContent>();

}
<!-- Features 1 -->
<div class="wrapper">
    <section class="container">
        <header class="major" id="list_products">
            <h2>100% sản phẩm được chiết xuất từ thiên nhiên 100%</h2>
            <p>Sự khác biệt cơ bản giữa mỹ phẩm thiên nhiên và mỹ phẩm thường nằm ở Chất lượng nguyên liệu. Mỹ phẩm thiên nhiên nuôi dưỡng và phục hồi tế bào da, tóc bằng tinh dầu, chiết xuất và các hoạt chất khác từ thiên nhiên …</p>
        </header>
        @Html.Partial("/Views/Partials/ListProductsAtHomePage.cshtml", listProducts)
    </section>
</div>
<!-- Promo -->
<div id="promo-wrapper">
    <section id="promo">
        <h2>Sản phẩm đã được đăng ký bản quyền tại cục Sở Hữu Trí Tuệ</h2>
        <a href="/trang-chu/chia-se/cong-ty-co-phan-hoa-lan-orchid/" class="button">Biết thêm</a>
    </section>
</div>
<!-- Features 2 -->
@Html.Partial("/Views/Partials/ListArticleAtHomePage.cshtml")
<!-- Footer -->
