@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterPage.cshtml";
}
<!-- Features 1 -->
<div class="wrapper">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower) feature">
                <div class="image-wrapper first">
                    <a href="#" class="image featured first"><img src="images/pic01.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>
                        Than tre hoạt tính, chất diệt khuẩn tự nhiên
                    </h2>
                </header>
                <p>
                    Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
                    sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
                    adipiscing elit. Curabitur vel sem sit.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Xem thêm</a></li>
                </ul>
            </section>
            <section class="6u 12u(narrower) feature">
                <div class="image-wrapper">
                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                </div>
                <header>
                    <h2>
                        Dầu dừa nguyên chất - món quà từ thiên nhiên
                    </h2>
                </header>
                <p>
                    Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur vel
                    sem sit dolor neque semper magna. Lorem ipsum dolor sit amet consectetur et sed
                    adipiscing elit. Curabitur vel sem sit.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button">Xem thêm</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
<!-- Promo -->
<div id="promo-wrapper">
    <section id="promo">
        <h2>Bạn muốn trải nghiệm sản phẩm ? Hãy đến với chúng tôi</h2>
        <a href="#" class="button">Liên hệ</a>
    </section>
</div>
<!-- Features 2 -->
<div class="wrapper">
    <section class="container">
        <header class="major">
            <h2>100% sản phẩm được chiết xuất từ thiên nhiên 100%</h2>
            <p>Sự khác biệt cơ bản giữa mỹ phẩm thiên nhiên và mỹ phẩm thường nằm ở Chất lượng nguyên liệu. Mỹ phẩm thiên nhiên nuôi dưỡng và phục hồi tế bào da, tóc bằng tinh dầu, chiết xuất và các hoạt chất khác từ thiên nhiên …</p>
        </header>
        <div class="row features">
            <section class="4u 12u(narrower) feature">
                <div class="image-wrapper first">
                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                </div>
                <p>
                    <span class="greenText">
                        Xà phòng than tre hoạt tính.</span>
                        <br /><span class="costText">Giá: 35.000 VND</span>
</p>
            </section>
            <section class="4u 12u(narrower) feature">
                <div class="image-wrapper">
                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                </div>
                <p>
                    <span class="greenText">Xà phòng than tre hoạt tính - tinh dầu quế. </span><br />
                    <span class="costText">Giá: 37.000 VND</span>
                </p>
            </section>
            <section class="4u 12u(narrower) feature">
                <div class="image-wrapper">
                    <a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
                </div>
                <p>
                    <span class="greenText">
                        Xà phòng than tre hoạt tính - tinh dầu bạc hà.</span> <br />
                    <span class="costText">Giá: 37.000 VND</span>
</p>
            </section>
        </div>
        <ul class="actions major">
            <li><a href="#" class="button">Elevate my awareness</a></li>
        </ul>
    </section>
</div>
<!-- Footer -->
<div id="footer-wrapper">
    <div id="footer" class="container">
        <header class="major">
            <h2>Liên hệ với chúng tôi</h2>
            <p>
                Hot line: 094 7337 087 (imess, facetime, zalo, viber)
            </p>
        </header>
        <div class="row">
            <section class="6u 12u(narrower)">
                <p>Cơ sở 1: Tầng 16, tòa nhà Cland, 156 Xã Đàn 2, quận Đống Đa, Hà Nội<br />
                    Tel: 094 7337 087. Từ 9-18h.               
                </p>
                <p>Cơ sở 2: Tầng 6, tòa nhà BIDV, 3 Hàng Vôi, quận Hoàn Kiếm, Hà nội <br />
                    Tel: 09 345 090 23. Từ 9-18h.      </p>
                <p>Cơ sở 3: 19 ngõ 298/26/25 Ngọc Lâm, quận Long Biên, Hà nội <br />
                    Tel: 09 345 090 23. Từ 19-22h.
                </p>                @*<form method="post" action="#">
                    <div class="row 50%">
                        <div class="6u 12u(mobile)">
                            <input name="name" placeholder="Name" type="text" />
                        </div>
                        <div class="6u 12u(mobile)">
                            <input name="email" placeholder="Email" type="text" />
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                                <li><input type="reset" value="Clear form" /></li>
                            </ul>
                        </div>
                    </div>
                </form>*@
            </section>
            <section class="6u 12u(narrower)">
                <div class="row 0%">
                    <ul class="divided icons 6u 12u(mobile)">
                        @*<li class="icon fa-twitter"><a href="#"><span class="extra">twitter.com/</span>untitled</a></li>*@
                        <li class="icon fa-facebook"><a href="#"><span class="extra">facebook.com/</span>untitled</a></li>
                        @*<li class="icon fa-dribbble"><a href="#"><span class="extra">dribbble.com/</span>untitled</a></li>*@
                    </ul>
                    <ul class="divided icons 6u 12u(mobile)">
                        @*<li class="icon fa-instagram"><a href="#"><span class="extra">instagram.com/</span>untitled</a></li>*@
                        <li class="icon fa-youtube"><a href="#"><span class="extra">youtube.com/</span>untitled</a></li>
                        @*<li class="icon fa-pinterest"><a href="#"><span class="extra">pinterest.com/</span>untitled</a></li>*@
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>