@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterPage.cshtml";
}
<!-- Features 1 -->
@Html.Partial("ListArticleAtHomePage")

<!-- Promo -->
<div id="promo-wrapper">
    <section id="promo">
        <h2>Hãy dùng và cảm nhận sự tinh tế</h2>
        <a href="#contact-us" class="button">Liên hệ</a>
    </section>
</div>
<!-- Features 2 -->
<div class="wrapper">
    @Html.Partial("ListProductsAtHomePage")
    
</div>
<!-- Footer -->
