@model Merchello.Web.Models.Ui.IRequireJs

@if (Model.RequireJs)
{
    <button class="btn btn-default pull-right mui-requirejs">Hoàn tất đặt hàng</button>
}
else
{
    <input type="submit" class="btn btn-default pull-right" value="Hoàn tất đặt hàng"/>
}