@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    var selection = CurrentPage.AncestorOrSelf(1).Descendants("productPage").Where("Visible");
}
@*
    As an example of more querying, if you have a true/false property with the alias of shouldBeFeatured:
    var selection= CurrentPage.Children("DocumentTypeAlias").Where("shouldBeFeatured == true").Where("Visible");
*@


@if (selection.Any())
{
    <div class="row features">
        @foreach (var item in selection)
        {
            var featureImage = item.FeartureImage != null ? Umbraco.Media(item.FeartureImage).umbracoFile : "";
        <section class="4u 12u(narrower) feature">
            <div class="image-wrapper first">
                <a href="@item.Url" class="image featured"><img src="@featureImage" alt="" /></a>
            </div>
            <p>
                <span class="greenText">
                    @item.PageName
                </span>
                <br /><span class="costText">Giá: @String.Format("{0:n0}", item.Cost) VND</span>
            </p>
        </section>
        }
    </div>
    @*<ul class="actions major">
        <li><a href="#" class="button">Mua hàng</a></li>
    </ul>*@


}

